#navbar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 185, 0);
}

#navbar:hover{
    background-color: white;
}

#navbar li {
    display: inline;
}

#navbar li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: large;
}

#navbar li a:hover {
    color: rgb(252, 185, 0);
}

#signUpLink p{
    text-align: center;
}

.signUpLink p{
    text-align: center;
}

#signUpLink h2{
    text-align: center;
    outline: 5px dotted rgb(252, 185, 0);
    padding: 2%;
}

#signUpLink h2:hover{
    text-align: center;
    outline-style: groove;
    border: 5px solid rgb(252, 185, 0);
}

#signUpLink a{
    text-decoration: none;
    color: black;
}

#signUpLink a:hover{
    color: rgb(252, 185, 0);
}

h1, h4{
    text-align: center;
}

#selectedEntries, #formDataDisplay{
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
}

.cars{
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.car{
    display: flex;
    margin: 5px;
    border: 1px solid rgb(252, 185, 0);
}

.car:hover{
    border: 5px solid rgb(252, 185, 0);
}

.car img{
    width: 300px;
    height: auto;
    margin: 5%;
}

.playVideo{
    width: 300px;
    height: auto;
    margin: 5%;
}

.car-info{
    flex: 1;
    padding: 10px;
    word-wrap: break-word;
}

.car-info a{
    text-decoration: none;
    color: black;
}

.car-info a:hover{
    text-decoration: none;
    color: rgb(252, 185, 0);
}

.car-info ul li{
    margin-left: 5%;
}

.car h2{
    margin-left: 5%;
}

.car p{
    color: black;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 10%;
    text-align: left;
}

#openHours ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#openHours .day{
    display: flex;
    justify-content: space-between;
}

#openHours li{
    list-style: none;
    text-decoration: none;
}

.days{
    color: black;
    flex: 1;
    text-align: left;
    padding-left: 35%;
}

.hour{
    flex: 1;
    text-align: right;
    padding-right: 35%;
}

.content{
    padding-top: 1%;
    padding-bottom: 1%;
}

.Contact{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    text-align: center;
}

.location{
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}

.runLottery{
    display: flex;
    justify-content: center;
    align-items: center;
}

#successMessage{
    color: black;
    text-align: center;
    font-size: large;
}

#successMessage:hover{
    color: rgb(252, 185, 0);
    font-size: larger;
}

#displaySelectedWinners{
    flex: 1;
    justify-content: center;
    text-align: center;
}

#footer{
    text-align: center;
    background-color: rgb(252, 185, 0);
}

@media (max-width: 600px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar li {
        margin-bottom: 10px;
    }

    .cars {
        margin-left: 5%;
        margin-right: 5%;
    }

    .car p {
        margin-right: 5%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .hour {
        text-align: left;
        padding-right: 5%;
    }
}
